{% extends 'base.html.twig' %}

{% block content %}

        <h1>Merci votre auteur est bien enregistré : </h1>

        <div class="content">

            <a href="{{path('author', {'id': author.id}) }}"></a>
            <h1>{{ author.name }}</h1>
            <h1>{{ author.firstName }}</h1>
            <hr>
            <h3>Date de naissance : </h3>
            <p>{{ author.birthDate | date('d/m/Y')}}</p>

            {% if author.deathDate == true %}
                <h3>Date de décès : </h3>
                <p>{{ author.deathDate | date('d/m/Y')}}</p>
            {% elseif author.deathDate == false %}
                <h3>Date de décès : </h3>
                <p>Non définis</p>

            {% endif %}
            <h3>Biographie : </h3>
            <p>{{ author.biography }}</p>



    </div>

{% endblock %}
